<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <title>National Parks Demo</title>


  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
    integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
    crossorigin="" />
  <!-- Leaflet javascript -->
  <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
    integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
    crossorigin=""></script>
  <!-- Plotly javascript -->
  <script src="https://cdn.plot.ly/plotly-2.2.0.min.js"></script>
  <!-- d3 JavaScript -->
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  <link rel="stylesheet" type="text/css" href="../static/css/map_style.css">
</head>

<body>
  <div class="container-xxl gx-0" style="background-color:#eeefee">
      <!-- <div class="card border-0" style="background-color:#6c757d">
        <div class="card-body">
          <h2 class="card-title">National Parks</h2>
          <img src="../static/img/national_park_service.gif" height="100px">
        </div>
      </div> -->
      <!-- <nav class="navbar navbar-expand-lg navbar-dark container-xxl" style="background-color:#6c757d">
        <a class="navbar-brand mx-2" href="#">
          <img src="../static/img/national_park_service.gif" height="30" class="d-inline-block align-top" alt="">
          Explore the National Parks</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">Top Ten Parks</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#parkInfoLink">Park Information</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#mapLink">Interactive Park Map</a>
            </li>
          </ul>
        </div>
      </nav> -->

      <nav class="navbar navbar-expand-lg navbar-dark fixed-top container-xxl" style="background-color:#6c757d" >
          <a class="navbar-brand mx-2" href="#"><img src="../static/img/national_park_service.gif" height="30" class="d-inline-block align-top" alt="">
            Explore the National Parks</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#">Top Ten Parks</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#parkInfoLink">Park Information</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#mapLink">Interactive Park Map</a>
              </li>
            </ul>
          </div>
      </nav>



    <!-- <div class="container-fluid"> -->
    <div class="graphs">
      <div class="row gy-1 gx-1 mt-5">
        <div class="col-lg-6">
          <div id="top10_visit_plot"></div>
        </div>
        <div class="col-lg-6">
          <div id="acres_plot"></div>
        </div>
        <div class="col-lg-6">
          <div id="rare_plot"></div>
        </div>
        <div class="col-lg-6">
          <div id="trail_plot"></div>
        </div>
      </div>
      
    </div>
    <a class = "anchor" id="parkInfoLink"></a>
    <div class="row gx-0">
      <div class="col-md-4" style="height: 350px">
        
        <div class="card text-white bg-secondary mb-3" style="height: 350px" >
        <!-- style="max-width: 100%;"> -->
          <h4>Park Name:</h4>
          <select id="parkDataset" onchange="parkChange(this.value)"></select>
          <div class="card-body">
            <h4 class="card-title"> <img src="../static/img/national_park_service.gif" height="24">
              Park Information
            </h4>
          </div>
          <div id="park-metadata" class="mx-2"></div>
        </div>
      </div>
      <div class = "col-md-8">
        <img id = "wonderCalls" class="image-fluid" src="/static/img/wonder_calls.jpg" style="height: 350px">

      </div>
    </div>

    <a class="anchor" id="mapLink">
  <div class="row justify-content-center mx-0" id="mapArea">
  </a>
    <div class="col-xl-2 px-2" id="filterArea" >
    <!-- style="height: 900px" -->
      <p>
      <div id="gauge"></div>
      </p>
      <div id="top10">
        <h5>Top 10 Rankings</h5>
        <p>
          <button type="button" class="btn btn-secondary w-100" data-toggle="button" autocomplete="off"
            route="/api/v1.0/Top 10 Parks visited" onclick="buttonToggle(this)">
            Most Visited Parks
          </button>
        </p>
        <p>
          <button type="button" class="btn btn-secondary w-100" data-toggle="button" autocomplete="off"
            route="/api/v1.0/Bottom_10_Parks_visited" onclick="buttonToggle(this)">
            Least Visited Parks
          </button>
        </p>
        <p>
          <button type="button" class="btn btn-secondary w-100" data-toggle="button" autocomplete="off"
            route="/api/v1.0/Trail_Miles" onclick="buttonToggle(this)">
            Most Trail Miles
          </button>
        </p>
        <p>
          <button type="button" class="btn btn-secondary w-100" data-toggle="button" autocomplete="off"
            route="/api/v1.0/top_10_size" onclick="buttonToggle(this)">
            Largest Parks
          </button>
        </p>
        <p>
          <button type="button" class="btn btn-secondary w-100" data-toggle="button" autocomplete="off"
            route="/api/v1.0/rare_species" onclick="buttonToggle(this)">
            Most Rare Species
          </button>
        </p>
      </div>
      <h5>Filter Parks</h5>
      <p>
      <div id="regionSelect" class="filter">
      </div>
      </p>
      <p>
      <div id="stateSelect" class="filter">
      </div>
      </p>
      <p>
      <div id="parkSelect" class="filter">
      </div>
      </p>
      <p>
      <div id="activitySelect" class="filter">
      </div>
      </p>
      <p>
        <button type="button" class="btn btn-secondary w-50" data-toggle="button" autocomplete="off" onclick="reload()">
          Reset Map
        </button>
      </p>

    </div>
    <div class="col-xl-10 px-0" style="height: 900px">
      <!-- map div -->
      <div id="map" class="h-100"></div>
    </div>
  </div>
</div>

  <!-- Leaflet JS -->
  <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
    integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
    crossorigin=""></script>
  <!-- Bootstrap javascript -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <!-- Shape-JS -->
  <script src="https://unpkg.com/shpjs@3.6.3/dist/shp.js"></script>
  <!-- API key -->
  <script type="text/javascript" src="static/js/config.js"></script>
  <!--build webpage-->
  <script src="../static/js/build.js"></script>
  <!-- Map JS -->
  <script type="text/javascript" src="static/js/logic.js"></script>


</body>

</html>